*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pngimg{
    background-image: url(https://github.com/anshuopinion/10-Practice-Project-Html-CSS/blob/Project-4-Landing-Page/Project%204/images/developer.png?raw=true);
     height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.text-one{
    max-width: 900px;
    position: absolute;
    left: 27%;
    top: 8%

    
}
.text-to{
    color: white;
    font-size: 70px;
  font-weight: lighter;
  font-family:  Arial, Helvetica, sans-serif;
}
.text-one b{
    font-size: 35px;
    font-weight: bold;
}
.text-two{
   text-align: center;
 padding-top: 10%;
}
.text-two h2{
    font-size: 70px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.section-one{
    padding: 60px;
    height: 279px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161619;

}
.text-part{
   font-family: 'Roboto', sans-serif; 
   font-size: 72px;
   font-weight: 400;
   line-height: 84.38px;
   text-align: left;
   color: white;
}
.bold{
    font-size:  140px;;
   font-weight: normal;
   font-style: inherit;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.section-three{
height: 700px;
gap: 0px;
opacity: 0px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;


}


.contanier{
background: white;

width: 300px;
height: 400px;
gap: 0px;
border-radius: 10px 10px 10px 10px;
opacity: 0px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
transition: box-shadow 0.3s ease;

}



.contanier:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px); /* Add hover effect */
}

.images1{
background-image: url(https://github.com/anshuopinion/10-Practice-Project-Html-CSS/blob/Project-4-Landing-Page/Project%204/images/mobile.png?raw=true);
background-size: cover;

width: 320px;
height: 192px;
gap: 0px;
border-radius: 10px 10px 0px 0px;
opacity: 0px;
}

.images2{
    background-image: url(https://github.com/anshuopinion/10-Practice-Project-Html-CSS/blob/Project-4-Landing-Page/Project%204/images/web.png?raw=true);
    background-size: cover;
    width: 320px;
    height: 192px;
    gap: 0px;
    border-radius: 10px 10px 0px 0px;
    opacity: 0px;
    }
    
.images3{
        background-image: url(https://github.com/anshuopinion/10-Practice-Project-Html-CSS/blob/Project-4-Landing-Page/Project%204/images/uiux.png?raw=true);
        background-size: cover;
        width: 320px;
        height: 192px;
        gap: 0px;
        border-radius: 10px 10px 0px 0px;
        opacity: 0px;
}

.skill {
    padding: 15px;
}



.skill h4{
    font-size: 25px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.skill p{
    letter-spacing: 0px;
   text-align: left;
}

.bottom_section{
    display: flex;
}
.contact{
    background-color:#515603;
}
.about{
    background-color:#722300;
    ;
}
.about,.contact{
    min-height: 300px;
    width: 1100px;
    padding: 32px;
    color: white;
}
.about h2,.contact h2{
    font-weight: 100;
    font-size: 64px;
}
    
    
.about p,.contact p{
    margin-bottom: 20px;
}
footer{
    padding: 10px;
    width: 1940px;
height: 38px;
text-align: center;
top: 2073px;background-color: black;color: white;
gap: 0px;
opacity: 0px;
}
